NODE_ENV=development

API_PORT=3001
API_URL=http://localhost:3001
WEB_URL=http://localhost:3000

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=

REDIS_URL=

PERRY_LOG_LEVEL=info
SH1PT_PROJECT_NAME=perry-hono-supabase
